Source: stylish-icon-theme
Section: x11
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Homepage: https://github.com/hamonikr/stylish-icon-theme
Build-Depends: debhelper (>= 11)
Vcs-Git: https://github.com/hamonikr/stylish-icon-theme
Vcs-Browser: https://github.com/hamonikr/stylish-icon-theme
Standards-Version: 4.3.0

Package: stylish-icon-theme
Architecture: all
Depends: ${misc:Depends}
Replaces: hamonikr-stylish-icon
Conflicts: hamonikr-stylish-icon
Description: stylish icon pack for HamoniKR OS
 This package was created by user contribution.
 Please check the following address for user upstream address.
 https://github.com/kuroehanako/Stylish-icon-theme/tree/HamoniKR-Modded
